{% extends base %}

{% block content %}
<h2>Zadania z przedmiotu Inteligentne Systemy Agentowe</h2>

<a href="/index.php/lab1">lab1</a>
<a href="/index.php/lab2">lab2</a>
<a href="/index.php/lab3">lab3</a>
<a href="/index.php/lab4">lab4</a>
<a href="/index.php/lab5">lab5</a>

{% endblock %}